.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 500px) {
  .board {
    width: 360px;
    height: 360px;
  }
}
