.guess {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.tile {
  border: solid 2px #d3d6da;
  border-radius: 5px;
  background-color: white;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

.tile.current-guess {
  border: solid 2px #878a8c;
}

.tile.correct {
  background-color: #6aaa64;
  border: solid 2px #6aaa64;
  color: white;
}

.tile.present {
  background-color: #c9b458;
  border: solid 2px #c9b458;
  color: white;
}

.tile.absent {
  background-color: #787c7e;
  border: solid 2px #787c7e;
  color: white;
}
