.guess {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.tile {
  border: solid 2px var(--guess-default-border-color);
  border-radius: 5px;
  background-color: var(--guess-default-bg-color);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

.tile.current-guess {
  border-color: var(--guess-current-border-color);
}

.tile.correct {
  background-color: var(--guess-correct-color);
  border-color: var(--guess-correct-color);
  color: var(--guess-status-text-color);
}

.tile.present {
  background-color: var(--guess-present-color);
  border-color: var(--guess-present-color);
  color: var(--guess-status-text-color);
}

.tile.absent {
  background-color: var(--guess-absent-color);
  border-color: var(--guess-absent-color);
  color: var(--guess-status-text-color);
}
